@import url(https://db.onlinewebfonts.com/c/f0db0faa0f4af4630e2db0cd30400f2c?family=Helvetica+Neue+LT+Std+55+Roman);
@import url('https://fonts.cdnfonts.com/css/miracle-2');

:root {
  --white: #fff;
  --primary-color: #313F38;
  --secondary-color: #FCD043;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  color: var(--white);
}

a {
  text-decoration: none;
}

body {
  width: 1919px;
  margin: 0 auto;
  background-color: var(--primary-color);
  font-family: "Helvetica Neue LT Std 55 Roman";
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}
